.c-modal {
  display: none;
  @include fixed-full-screen();
  background: $black-07;
  text-align: center;

  &--is-open {
    display: block;
  }

  &__content {
    width: 25.629rem;
    height: 25.629rem;
    @include centerXY-absolute();
    // Center modal contents vertically
    @include flex-column();
    justify-content: space-between;
    align-items: center;
    padding: ($b-l-h * 1rem) 0 ($b-l-h * 2rem) 0;
    background: $black-09;
    border: ($b-l-h * 0.25rem) solid $white;
  }
}
