html {
  // Full-screen image
  height: 100%;
  background: url('../img/sunrise-from-space.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: $blue-charcoal;
  font-size: 100%;
}

body {
  height: 100%;
  font-family: $font-stack;
  line-height: $b-l-h;
  color: $heather;
}

@media only screen and (min-width: 770px) {
  html {
    font-size: 120%;
  }
}
